---
---
{% comment %}
{{ reference }}

{% if entry.abstract %}
<p>{{ entry.abstract }}</p>
{% endif %}
{% endcomment %}

<p style="color:red;">
  <span style="font-weight:bold">
    {{ entry.author }}, </span>
  <span>
    <a {% if entry.url %}href="{{ entry.url }}"{% endif %} >
      {{ entry.title }} </a> </span>
  {% if entry.type == "article" %}
  <span style="color:green"> {{ entry.journal }}</span>
  {% else if entry.type == "inproceedings" %}
  <span style="color:blue"> {{ entry.booktitle }}</span>
  {% endif %}
  <pre>{{ entry.bibtex }}</pre>
</p>
