---
---

{% comment %}
{{ reference }}

{% if entry.abstract %}
<p>{{ entry.abstract }}</p>
{% endif %}
{% endcomment %}

<p>
  <span style="font-weight:bold">
    {{ entry.author }},
  </span>
  <span>
    <a
      {% if entry.url %}
      href="{{ entry.url }}"
      {% endif %}
      >{{ entry.title }}</a>,
  </span>
  {% if entry.type == "article" %}
  <span style="font-style:italic">{{ entry.journal }}</span>,
  {% else if entry.type == "inproceedings" %}
  <span style="font-style:italic">{{ entry.booktitle }}</span>,
  {% else %}
  <span style="color:red">{{ reference }}</span>,
  {% endif %}
  <span class="tooltip">
    <button
      onclick="copyBibtex('{{ entry.key }}')"
      onmouseout="outFunc('{{ entry.key }}')">
      <span class="tooltiptext" id="{{ entry.key }}_tooltip">
        Copy to clipboard
      </span>
      BibTex
    </button> 
  </span>
  <pre id="{{ entry.key }}" style="display:none">{{ entry.bibtex }}</pre>
</p>


